{% extends 'base.html' %}

{% block content %}

{% if query %}
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <p style="text-align:center;"><b>You Searched for {{query}}</b></p>
                    {% if products %}
                        {% for product in products %}
                            <div>
                                <div style="text-align:center;">
                                    <a href="{{product.get_url}}"><img  src="{{product.image.url}}" alt="{{product.name}}"></a>
                                    <div>
                                        <h2 style="text-align:center;">{{product.name }}</h2>
                                        <p style="text-align:center;">{{product.price}}</p>
                                        <p>{{product.desc}}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <P style="text-align:center;"><b>{{query}}: No results</b></P>
                    {% endif %}
                </div>
            </div>
        </div>

{% else %}
    <div class="container">
      <P><b>{{query}}: No results</b></P>
    </div>




{% endif %}



{% endblock %}